{% extends "base.html" %}



{% block page_content %}
<head>
    <style>
        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .card-body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    
        .card-image {
            max-height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<div">
    <h1 style="text-align: center; font-size: 4em; margin: 40;">Projects</h1>
</div>
<div class="row" style = "padding-left: 10%; padding-right: 10%;">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2" style = "padding: 10px;">
            {% if project.image %}
                <img class="card-img-top project-image" src="{{ project.image.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.shortDescription }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}