{% extends "base.html" %}
// color pallet


{% block page_content %}
<div">
    <h1 style="text-align: center; font-size: 4em; margin: 40;">Projects</h1>
</div>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2" style = "padding: 10px;">
            {% if project.image %}
                <img class="card-img-top project-image" src="{{ project.image.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.shortDescription }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}