
        body {
            font-family: "futura", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
            padding-top: 20px;
        }

        h5 {
            color: #666;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin: 10px;
        }

        .col-md-8, .col-md-4 {
            padding: 20px;
        }

        .col-md-8 img {
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }

        .col-md-4 p {
            color: #777;
            line-height: 1.6;
        }

        .col-md-4 a {
            display: inline-block;
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 10px;
        }

        .col-md-4 a:hover {
            background-color: #666;
        }